:root { /* bo */
    background: #8e7cc3};

:root { /*Processos de Contemolação */
    background: #3d85c6};

:root { /* Quitação */
    background: #93c47d};


:root { /* ATA de Assembleias */
    background: #f6b26b};

        
:root { /* Diferença de Parcelas */
    background: #e06666};

    
:root { /* Isenção de Multas e Juros */
    background: #c27ba0};

    
:root { /* Quitado não Contemplado */
    background: #cc4125}; 